ProyectoDSD/SOAPServicesTest/Service References/RemesaWS/RemesaEjecutarOperacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemesaEjecutarOperacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2835/Remesa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2835/Remesa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2835/Remesa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRemesa_CrearRemesa_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearRemesa" />
  </wsdl:message>
  <wsdl:message name="IRemesa_CrearRemesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearRemesaResponse" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ObtenerRemesa_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRemesa" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ObtenerRemesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRemesaResponse" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ModificarRemesa_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRemesa" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ModificarRemesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarRemesaResponse" />
  </wsdl:message>
  <wsdl:message name="IRemesa_EliminarRemesa_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRemesa" />
  </wsdl:message>
  <wsdl:message name="IRemesa_EliminarRemesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRemesaResponse" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ListarRemesas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRemesas" />
  </wsdl:message>
  <wsdl:message name="IRemesa_ListarRemesas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRemesasResponse" />
  </wsdl:message>
  <wsdl:portType name="IRemesa">
    <wsdl:operation name="CrearRemesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemesa/CrearRemesa" message="tns:IRemesa_CrearRemesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemesa/CrearRemesaResponse" message="tns:IRemesa_CrearRemesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRemesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemesa/ObtenerRemesa" message="tns:IRemesa_ObtenerRemesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemesa/ObtenerRemesaResponse" message="tns:IRemesa_ObtenerRemesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarRemesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemesa/ModificarRemesa" message="tns:IRemesa_ModificarRemesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemesa/ModificarRemesaResponse" message="tns:IRemesa_ModificarRemesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRemesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemesa/EliminarRemesa" message="tns:IRemesa_EliminarRemesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemesa/EliminarRemesaResponse" message="tns:IRemesa_EliminarRemesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRemesas">
      <wsdl:input wsaw:Action="http://tempuri.org/IRemesa/ListarRemesas" message="tns:IRemesa_ListarRemesas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRemesa/ListarRemesasResponse" message="tns:IRemesa_ListarRemesas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRemesa" type="tns:IRemesa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearRemesa">
      <soap:operation soapAction="http://tempuri.org/IRemesa/CrearRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRemesa">
      <soap:operation soapAction="http://tempuri.org/IRemesa/ObtenerRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarRemesa">
      <soap:operation soapAction="http://tempuri.org/IRemesa/ModificarRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRemesa">
      <soap:operation soapAction="http://tempuri.org/IRemesa/EliminarRemesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarRemesas">
      <soap:operation soapAction="http://tempuri.org/IRemesa/ListarRemesas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemesaEjecutarOperacion">
    <wsdl:port name="BasicHttpBinding_IRemesa" binding="tns:BasicHttpBinding_IRemesa">
      <soap:address location="http://localhost:2835/Remesa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>